@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  background: #1d212b;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #fff;
}

section:nth-child(2) {
  color: #fff;
  background: #1d212b;
}

section:nth-child(3) {
  color: #fff;
}

section:nth-child(4) {
  color: #fff;
  background: #1d212b;
}

section:nth-child(5) {
  color: #fff;
  background: #1d212b;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 60px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards {
  display: flex;
}

#contact-form-card {
  background: #1d212b;
}

section .cards .text-card {
  background: #2696e9;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 40px;
  }

  section .cards {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.neon {
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #7fffd4, 0 0 20px #0073e6,
    0 0 25px #7fffd4, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

#html {
  background: #ffd580;
  color: black;
}

#c {
  background: #000080;
}

#cpp {
  background: #03a9f4;
  color: black;
}

#cs {
  background: #36013f;
}

#java {
  background: #8b4000;
}

#python {
  background: #de970b;
  color: black;
}

#minecraft {
  background-image: linear-gradient(#008c77, #0bd67e, #00a68d);
  color: black;
}

#vanilla {
  background-image: linear-gradient(#d9001d, #079bf5, #04aec4);
  color: black;
}

#unix {
  background-image: linear-gradient(black, #e8a20c, #e6b400);
  color: white;
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.center-btn {
  text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.center-img {
  display: flex;
  justify-content: center;
}

.center-favicon {
  display: flex;
  justify-content: center;
}

.favicon {
  padding: 10px;
}

#whatsapp {
  border-radius: 50%;
}
#whatsapp-contact {
  border-radius: 50%;
}
#github {
  border-radius: 50%;
}
#twitter {
  border-radius: 50%;
}
#youtube {
  border-radius: 50%;
}
#insta {
  border-radius: 50%;
}
#reddit {
  border-radius: 50%;
}
#email {
  border-radius: 50%;
}

.center-copyright {
  text-align: center;
}

.font-poppins-h3 {
  font-family: "Poppins", sans-serif;
}

.certificate-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.team {
  text-align: center;
}

#programming {
  background-image: linear-gradient(
    #001747,
    #006199,
    #003959,
    #0091e6,
    #0079bf
  );
}

#appdev {
  background-image: linear-gradient(#0f3325, #007a39, #005427, #288654);
}

#webdev {
  background-image: linear-gradient(#002647, #006ac7, #0071d4);
}

h4 {
  color: black;
}

input {
  border: 2px solid goldenrod;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  padding: 10px;
}

#submit-form {
  padding: 10px;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  background: #0e4732;
}

#center-what {
  text-align: center;
}

.center-favicon-contact-me {
  text-align: center;
}

.center-class-img {
  display: flex;
  justify-content: center;
}

.center-img-rules {
  text-align: center;
}

#rules-img-below {
  text-align: center;
}

.center-whatsapp {
  text-align: center;
}
